.blue {
    color:blue;
}

h1 {
    color:rgb(182, 246, 255);
}

.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: green;
    box-shadow: 10px 10px;
}

.font {
    font-family: cursive;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    background: rgb(0,36,27);
    background: linear-gradient(0deg, rgba(0,36,27,1) 0%, rgba(9,121,44,1) 35%, rgba(0,255,154,1) 100%);
}

.centertext{
    text-align: center;
}

.lowertext{
    color: white;
}

a:link {
    color: rgb(91, 255, 91);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 62, 152);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(0, 255, 179);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(0, 119, 255);
    background-color: transparent;
    text-decoration: underline;
  }